/* side bar   */
.side-bar {
  background: #e9f0f5;
  height: 100vh;
}
.side-bar h4,
p {
  margin: 0;
}

/* user style */
.user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* toggle-icon */
.toggle-icon {
  background: #d6dee7;
  width: 40%;
  padding: 10px;
}
.toggle-icon svg {
  font-size: 40px;
  color: #9c9c9c;
}

/* feed back btn  */
.feed-back-btn {
  background: #92e5c2;
  color: #35403b;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 15px;
}
