/* side bar   */
.side-bar {
  background: #e9f0f5;
  height: 100% !important;
}
.side-bar h4,
p {
  margin: 0;
}

/* user style */
.user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* toggle-icon */
.toggle-icon a {
  background: #d6dee7;
  width: 40%;
  padding: 10px;
}
.toggle-icon svg {
  font-size: 40px;
  color: #9c9c9c;
}

.nav-selected {
  background: #92e5c2 !important;
}
.nav-selected svg {
  color: #35403b;
}

@media only screen and (min-width: 1920px) {
  .side-bar {
    height: 100vh !important;
  }
}
