/* reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* google font roboto  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #e6edf2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
/* feed back btn  */
.kalpas-btn {
  background: #92e5c2;
  color: #35403b;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 15px;
}
