/* reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* google font roboto  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background: #e6edf2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
/* feed back btn  */
.kalpas-btn {
  background: #92e5c2;
  color: #35403b;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 10px;
  margin-top: 15px;
}

/* pagination  */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #92e5c2;
  border-color: #92e5c2;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #92e5c2;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #92e5c2;
  border-color: #92e5c2;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #92e5c2;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}
